$font-family-primary: 'Raleway', sans-serif;

$font-weight-sm: 300;
$font-weight-md: 700;
$font-weight-lg: 900;

// Site is made with mobile-first perspective, maily using rems and ems for better responsivity
$screen-sm: 400px;
$screen-md: 592px;
$screen-lg: 960px;

$bg-primary: #00e7ff;
$text-primary: #232323;
$text-secondary: white;
$text-hover: #ddd;

$box-shadow-color: rgba(0, 0, 0, 0.3);
$black-overlay-color: rgba(0, 0, 0, 0.7);
